# Node modules
node_modules/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
*.sublime-workspace
*.sublime-project
.vscode/
.idea/

# Build files
/dist/
/build/

# Temporary files
*~
*.tmp
*.log